<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>¡Bienvenido! <%= data[0].name%></h1>
            <p>En esta tabla puede visualizar los activos en seguimiento y todos sus datos</p>
        </div>
        <section class="box">
            <label class="box-title" for="cb1">Información de activos</label>
            <label class="box-close" for="acc-close"></label>
            <div class="box-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!--<th>Number of Transactions</th>-->
                            <th>Activo</th>
                            <th>Fecha</th>
                            <th>Temperatura</th>
                        </tr>
                    </thead>

                    <tbody class="information">
                        <% if (data) { %>
                            <% for (var i=0; i < data.length; i++) { %>
                                <tr>
                                    <!--<td>
                                    <%= (i+1) %>
                                </td>-->
                                    <td>
                                        <%= data[i].name%>
                                    </td>
                                    <td>
                                        <%= data[i].email %>
                                    </td>
                                    <td>
                                        <%= data[i].username %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>